body {
    font-family: Arial, sans-serif;
    background-color: #8ac4d4;
    margin: 0;
    box-sizing: border-box;
    }
    
    .container {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(235, 52, 52);
    box-shadow: 0px 0px 10px rgba(252, 186, 3);
    border-radius: 5px;
    box-sizing: border-box;
    }
    
    h1 {
    text-align: center;
    margin-top: 0;
    }
    
    .profile {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #aad6f3;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(235, 52, 52);
    box-sizing: border-box;
    width: 100%;
    }
    
    .profile h2 {
    margin-top: 0;
    }
    
    .profile p {
    margin-bottom: 10px;
    }
    
    .profile .title {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    }
    
    .profile .image {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    }